* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
/* primary  button*/
.btn-primary {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #f00;
  border: 0;
  padding: 15px 30px;
  /* margin-top: 48px; */
}

/* hover over button */
.btn:hover {
  color: #f00;
  background: #3f3240;
}

/* header style */
.header-container {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  margin: 50px auto 0;
  border-radius: 16px;
}

.header-content {
  /* align-items: center; */
  text-align: center;
  padding-top: 150px;
  max-width: 632px;
  margin: 0 auto;
}

.header-content h3 {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.header-content h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 90px; /* 131.944% */
  margin-top: 0;
}

/* main section style */
.discount {
  margin-top: 120px;
  align-items: center;
}

.discount h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 0;
}
.discount h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}
.discount h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 0;
}

.discount img {
  /* margin: 20px auto; */
  width: 802.9px;
  height: 500px;
  display: block;
  margin: 48px auto 0;
}

.mid-party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  width: 1320px;
  height: 600px;
  margin: 120px auto 0;
  display: flex;
  justify-content: space-around;
  border-radius: 16px;
}

.mid-party-content {
  margin: 70px 0 0 100px;
}

.mid-party h1 {
  display: block;
  max-width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.mid-party p {
  display: block;
  max-width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 0;
  margin-bottom: 0;
}

.mid-party button {
  margin-top: 48px;
  margin-left: 32px;
}
.mid-party img {
  /* display: flex; */
  width: 319.83px;
  height: 464.662px;
  /* padding: 0.008px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 65px 100px 0 0;
}
.party-details {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 450px;
  margin: 120px auto 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.party-place-time {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
}
.prime {
  color: #f00;
}

.party-details button {
  margin-top: 48px;
}

.offer {
  background: #fff;
  width: 1320px;
  height: 470px;
  display: flex;
  justify-content: space-between;
  margin: 120px auto;
}
.best-offer {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.round-image {
  border: 10px solid #ff0000;

  width: 450px;
  height: 450px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-2024 {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-2024 img {
  width: 140px;
  height: 140px;
}
.prime-offer {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-comming {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 22px;
}
.offer-details {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: 0;
  margin-bottom: 45px;
}
.prime-offer-2024 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.holiday-content {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.holiday-content h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.holiday-content h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 30px;
}

.holiday-discount {
  width: 1320px;
  background-image: url("../resources/Rectangle\ 2.png"),
    url("../resources/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: bottom, top right;
  margin: 0 auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.holiday-discount > img {
  width: 785px;
}
.round-discount-image {
  width: 210px;
  height: 210px;
}
.round-discount-image-container {
  margin: 0 600px 200px 0;
}
.gift {
  width: 1320px;
  margin: 0 auto;
  background: #fff;
}

.best-gift {
  max-width: 896px;
}
.gift-product {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.gift-product img {
  width: 424px;
  height: 450px;
  border-radius: 16px;
  transition: 0.3s ease-in-out;
}
.gift-product img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.subscriber {
  width: 1320px;
  height: 616px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 120px auto;
}
.subscribe-newsletter {
  max-width: 900px;
  text-align: center;
}

.subscriber img {
  margin-bottom: 48px;
}
.user-email-form {
  margin-top: 0;
  display: flex;
  gap: 0;
}

.user-email-form input {
  color: rgba(7, 2, 17, 0.3);
  border: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 200px 20px 25px;
  border-radius: 50px 0 0 50px;
}
.btn-subscribe {
  color: #fff;
  border: 0;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 24px 56px;
}

/* footer style */
footer {
  background: #070211;
  margin-top: 120px;
  padding: 120px;
}
.address {
  color: #fff;
  width: 1320px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff26;
}
.address-details {
  display: block;
  max-width: 400px;
  line-height: 40px; /* 166.667% */
}
.phone-website {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  width: 380px;
}
.phone-website img {
  width: 24px;
  height: 24px;
}
.social-media {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 48px 0;
  border-bottom: 1px solid #ffffff26;
}
.social-media a {
  transition: 0.3s ease-in-out;
}
.social-media a:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.copyright {
  color: #fff;
  width: 1320px;
  margin: 0 auto;
  padding-top: 50px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
