body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.header-container {
  background-image: url("../resources/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  margin: 50px auto 0;
  /* background-repeat: no-repeat;
  background-size: cover; */
  /* align-items: center; */
  /* text-align: center; */
}

.header-content {
  /* align-items: center; */
  text-align: center;
  padding-top: 150px;
  max-width: 632px;
  margin: 0 auto;
}

.header-content h3 {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.header-content h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 90px; /* 131.944% */
  margin-top: 0;
}
